body {
  background-color: DarkSeaGreen;
  font-family: Helvetica, Arial, sans-serif;
margin-top: 1in;
margin-bottom: 1in;
margin-left: 2in;
margin-right: 2in;
}

h1{
  font-family: "times new roman", times, serif;
text-align:center;
color:Cornsilk;
}
h2{
  font-family: "times new roman", times, serif;
color:Cornsilk;
}
h3{
  font-family: "times new roman", times, serif;
color:Cornsilk;
}
